@charset "UTF-8";
@import './normalize.css';
@import './fonts.css';

body
{
    font-family: "Gotham Pro";
}

@value wrapper_bg: '../img/bg.jpg';
@value list_bg: '../img/list_bg.jpg';
@value list_bg_mob: '../img/list_bg1390.jpg';
@value success_ico: '../img/in.png';

.container
{
    max-width: 90%;
    margin: auto;
}

.dFlex
{
    display: flex;
}

.flexDirectionColumn
{
    flex-direction: column;
}

.flexWrap
{
    flex-wrap: wrap;
}

.justifyContentCenter
{
    justify-content: center;
}

.justifyContentSpaceBetween
{
    justify-content: space-between;
}

.alignItemsCenter
{
    align-items: center;
}

.flexItem
{
    flex: 1 1 30%;
}

.flexItemFour
{
    max-width: 400px;
    flex: 1 1 calc(25% - 50px);
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.flexItemFour:nth-child(4n)
{
    margin-right: 0;
}

@media (max-width: 1390px)
{
    .flexItemFour
    {
        flex: 1 1 calc(30% - 50px);
    }

    .flexItemFour:nth-child(4n)
    {
        margin-right: 25px;
    }

    .flexItemFour:nth-child(3n)
    {
        margin-right: 0;
    }
}

@media (max-width: 890px)
{
    .flexItemFour
    {
        flex: 1 1 calc(50% - 50px);
    }

    .flexItemFour:nth-child(3n), .flexItemFour:nth-child(4n)
    {
        margin-right: 25px;
    }

    .flexItemFour:nth-child(2n)
    {
        margin-right: 0;
    }
}

.modelBg
{
    background: url(wrapper_bg) no-repeat 10% center;
}

.listBg
{
    background: url(list_bg) no-repeat 10% center;
}

.wrapper
{
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 1390px)
{
    .wrapper
    {
        background-position: center 0;
        background-size: 110rem;
    }

    .listBg
    {
        background: url(list_bg_mob) no-repeat top;
    }
}

@media (max-width: 600px)
{
    .listBg
    {
        background: url(wrapper_bg) no-repeat center 0;
    }

    .wrapper
    {
        background-size: 80rem;
    }
}

.header
{
    padding: 40px 0;
    border-bottom: 3px solid #c6c5c5;
}

@media (max-width: 600px)
{
    .header
    {
        padding: 20px 0;
    }
}

.navBlock
{
    position: relative;
}

.logoLink
{
    width: 120px;
    margin-right: 120px;
}

.logoLink img
{
    width: 100%;
}

.navigationMob, .descHide
{
    display: none;
}

@media (max-width: 1390px)
{
    .descHide
    {
        display: block;
    }

    .mobHide
    {
        display: none!important;
    }

    .greyBgHoriz
    {
        background-color: #e3e3e3;
        padding: 20px 0;
    }
}

@media (max-width: 1190px)
{
    .logoLink
    {
        margin-right: 0;
    }

    .navigationDesc
    {
        display: none;
    }

    .navigationMob
    {
        display: flex;
        justify-content: center;
    }
}

.nav
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.nav li
{
    margin-right: 40px;

}

@media (max-width: 600px)
{
    .navigationMob .nav
    {
        display: flex;
        flex-wrap: wrap;
        max-width: 240px;
    }
    .navigationMob .nav li
    {
        flex: 1 1 calc(50% - 30px);
        width: 100%;
        max-width: 100px;
        margin-right: 30px;
    }
    .navigationMob .nav li:nth-child(2n)
    {
        margin-right: 0;
    }
}

.navlink, .contacts
{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    letter-spacing: -0.3px;
}
@media (max-width: 797px)
{
    .navBlock
    {
        width: 100%;
    }

    .logoLink
    {
        display: block;
        margin: auto;
        text-align: center;
        max-width: 120px;
    }
}
@media (max-width: 600px)
{
    /*.logoLink*/
    /*{*/
        /*width: 100px;*/
    /*}*/

    .navlink, .contacts
    {
        font-size: 25px;
    }
}

.boldRed
{
    color:#ff0000;
    font-weight:bold;
}

.red
{
    color: #ff0000;
}

.body
{
    position: relative;
    height: 100%;
}

.side 
{
    position: relative;
    z-index: 0;
    flex: 1 1 40%;
}

.sideFirst
{
    flex: 1 1 20%;
}

@media (max-width: 1390px)
{
    .body
    {
        display: block;
    }

    .sideFirst
    {
        display: none;
    }
}

.mTop
{
    margin-top: 70px;
}

@media (max-width: 1390px)
{
    .mTop
    {
        margin-top: 50px;
    }
}

@media (max-width: 600px)
{
    .mTop
    {
        margin-top: 20px;
    }
}

.imgPoster
{
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.linkModel
{
    display: block;
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid;
    max-width: 240px;
    box-sizing: border-box;
    margin: auto;
}
.flexItemFour a
{
    text-decoration: none;
}

.flexItemFour:hover .linkModel
{
    background-color: red;
    color: #FFF;
}

.h1
{
    position: relative;
    display: inline-block;
    font-size: 41px;
    font-weight: bold;
    letter-spacing: -0.41px;
}

.h1:after
{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    opacity: .5;
    display: block;
}

.nameBg
{
    position: relative;
    min-height: 380px;
}

.NameBgAbsolute
{
    position: absolute;
    top: 0;
    left: -20rem;
    right: -8rem;
    text-align: center;
    font-size: 16vw;
    font-weight: bold;
    opacity: .15;
    letter-spacing: -10px;
    z-index: -1;
}

@media (max-width: 1600px)
{
    .NameBgAbsolute
    {
        /*font-size: 14.75rem;*/
        overflow: hidden;
    }
}

@media (max-width: 1390px)
{
    .NameBgAbsolute
    {
        left: 0;
        right: 0;
        font-size: 24vw;
    }
}
/*
@media (max-width: 1024px)
{
    .NameBgAbsolute
    {
        font-size: 27.9vw;
    }
}
*/
@media (max-width: 420px)
{
    .NameBgAbsolute
    {
        letter-spacing: -5px;
    }
}

.modelPoster
{
    position: relative;
    top: -5rem;
    left: 0;
    right: 0;
    bottom: 0;
    /*max-width: 550px;*/
    max-height: 610px;
    margin: auto;
    cursor: pointer;
}

/*.tooltip*/
/*{*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: block;*/
    /*margin: auto;*/
    /*padding: 5px;*/
    /*border: 1px solid;*/
    /*border-radius: 5px;*/
    /*background-color: rgba(255, 0, 0, 0.5);*/
    /*color: #fff;*/
    /*width: 200px;*/
/*}*/

@media (max-width: 1600px)
{
    .modelPoster
    {
        max-width: 500px;
    }
}

@media (max-width: 1390px)
{
    .modelPoster
    {
        display: block;
        top: 0;
    }
}

@media (max-width: 600px)
{
    .modelPoster
    {
        max-width: 100%!important;
    }
}

.linkList, .ulReset
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.linkList li
{
    margin-bottom: 30px;
}

.linkList a, .linkList div
{
    color: #000;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1390px)
{
    .linkList
    {
        max-width: 590px;
        margin: auto;
        text-align: center;
    }

    .linkList li
    {
        margin-bottom: 0;
    }

    .linkList li, .linkList a, .linkList div
    {
        font-size: 25px;
    }
}

@media (max-width: 600px)
{
    .linkList li, .callBtn a
    {
        margin-bottom: 10px;
    }

    .linkList li, .linkList a, .linkList div
    {
        font-size: 20px;
    }
}

.contacts
{
    margin-right: 5rem;
    cursor: pointer;
}

.contacts li:first-child
{
    margin-right: 40px;
}

@media (max-width: 1390px)
{
    .contacts
    {
        margin-right: 0;
    }
}

@media (max-width: 797px)
{
    .contacts
    {
        display: none;
    }

    .contactsMob
    {
        display: block;
        cursor: pointer;
    }
}

.colorsBlock, .modifyBlock, .paramsBlock, .callBtn
{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 590px;
}

.colorCircle
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 35px 60px;
    cursor: pointer;
}

.colorText
{
    position: absolute;
    bottom: -40px;
    left: -2rem;
    right: -2rem;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 600px)
{
    .colorsBlock
    {
        padding-bottom: 20px;
        justify-content: space-between;
        max-width: 85%;
    }

    .colorCircle
    {
        /*width: 50px;*/
        /*height: 50px;*/
        margin: 0 30px 30px;
    }

    .colorText
    {
        /*font-size: 18px;*/
        bottom: -30px;
    }
}

.modifyBlock
{
    margin: 10px auto 30px;
}

.stock
{
    margin: 0 auto 30px;
}

@media (max-width: 600px)
{
    .stock
    {
        padding-top: 30px;
    }
}

.price
{
    margin: 20px auto;
}

.modifyElement
{
    position: relative;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 30px;
    cursor: pointer;
}

.stockFont
{
    font-size: 18px;
    position: relative;
    cursor: default;
}

.modifyElement:first-of-type
{
    padding-left: 35px;
}

.modifyElement:last-of-type
{
    padding-right: 0;
}

.modifyElement:after
{
    content: '/';
    position: absolute;
    right: 0;
    color: #000;
}

.modifyElement:last-of-type:after
{
    display: none;
}

.paramText
{
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.paramText p
{
    margin: 0;
}

/*.callBtn*/
/*{*/
    /*margin-top: 40px;*/
/*}*/

.callBtnText
{
    font-size: 25px;
    text-decoration: none;
    margin-left: 35px;
}

.callBtnText:last-of-type
{
    margin-left: 70px;
}

@media (max-width: 1390px)
{
    .callBtn, .callBtnText
    {
        display: block;
    }

    .callBtn
    {
        margin-top: 0;
    }

    .callBtnText, .callBtnText:last-of-type, .paramText
    {
        margin-left: 0;
        text-align: center;
    }

    .modifyBlock
    {
        justify-content: center;
    }

    /*.paramsBlock*/
    /*{*/
        /*padding-bottom: 20px;*/
    /*}*/
}

@media (max-width: 600px)
{
    .modifyElement
    {
        font-size: 22px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .modifyElement:first-of-type
    {
        padding-left: 0;
    }

    .paramText
    {
        font-size: 18px;
    }

    .callBtnText
    {
        font-size: 20px;
    }

    .price
    {
        padding-bottom: 20px;
    }
}

@media (max-width: 420px)
{
    .paramText
    {
        font-size: 14px;
    }
}

.inStock
{
    position: absolute;
    background: url(success_ico) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    top: -4px;
    right: -27px;
}

.outStock
{
    position: absolute;
    top: -8px;
    right: -22px;
    font-size: 30px;
}

.stockLink
{
    display: inline-block;
    font-size: 20px;
}

.stockLink:last-of-type
{
    margin-left: 50px;
}

@media (max-width: 600px)
{
    .stockFont>span
    {
        display: block;
        width: 165px;
    }
    .outStock
    {
        top: -5px;
    }
    .stockLink:last-of-type
    {
        margin-left: 0;
    }

    .stockFont.red>span
    {
        width: 120px;
    }
    .inStock
    {
        top: 2px;
    }
}