@charset "UTF-8";
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
    font-family: "Ionicons";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
    src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal; }

.test { position: relative; }

.imageGalleryFullscreenButton::before,
.imageGalleryPlayButton::before,
.imageGalleryLeftNav::before,
.imageGalleryRightNav::before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.imageGallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
.imageGallery.fullscreenModal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
.imageGallery.fullscreenModal .imageGalleryContent {
    top: 50%;
    transform: translateY(-50%); }

.imageGalleryContent {
    position: relative;
    line-height: 0;
    top: 0; }
.imageGalleryContent.fullscreen {
    background: #000; }
.imageGalleryContent.fullscreen .imageGallerySlide {
    background: #000; }

.imageGallerySlideWrapper {
    position: relative; }
.imageGallerySlideWrapper.left, .imageGallerySlideWrapper.right {
    display: inline-block;
    width: calc(100% - 113px); }
@media (max-width: 768px) {
    .imageGallerySlideWrapper.left, .imageGallerySlideWrapper.right {
        width: calc(100% - 84px); } }
.imageGallerySlideWrapper.imageGalleryRtl {
    direction: rtl; }

.imageGalleryFullscreenButton,
.imageGalleryPlayButton,
.imageGalleryLeftNav,
.imageGalleryRightNav {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4; }
.imageGalleryFullscreenButton::before,
.imageGalleryPlayButton::before,
.imageGalleryLeftNav::before,
.imageGalleryRightNav::before {
    color: #fff;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; }
.imageGalleryFullscreenButton::before { color: #c6c5c5; }
.imageGalleryFullscreenButton:hover::before,
.imageGalleryPlayButton:hover::before,
.imageGalleryLeftNav:hover::before,
.imageGalleryRightNav:hover::before {
    /*color: #337ab7; }*/
    color: #ff0000; }
@media (max-width: 768px) {
    .imageGalleryFullscreenButton:hover::before,
    .imageGalleryPlayButton:hover::before,
    .imageGalleryLeftNav:hover::before,
    .imageGalleryRightNav:hover::before {
        color: #fff; }
    .imageGalleryFullscreenButton:hover::before { color: #ff0000; }
}

.imageGalleryFullscreenButton,
.imageGalleryPlayButton {
    bottom: 0; }
.imageGalleryFullscreenButton::before,
.imageGalleryPlayButton::before {
    font-size: 2.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a; }
@media (max-width: 768px) {
    .imageGalleryFullscreenButton::before,
    .imageGalleryPlayButton::before {
        font-size: 2.4em; } }
@media (max-width: 480px) {
    .imageGalleryFullscreenButton::before,
    .imageGalleryPlayButton::before {
        font-size: 2em; } }
.imageGalleryFullscreenButton:hover::before,
.imageGalleryPlayButton:hover::before {
    color: #fff;
    transform: scale(1.1); }
.imageGalleryFullscreenButton:hover::before { color: #ff0000; }
@media (max-width: 768px) {
    .imageGalleryFullscreenButton:hover::before,
    .imageGalleryPlayButton:hover::before {
        transform: none; } }

.imageGalleryFullscreenButton {
    right: 0; }
.imageGalleryFullscreenButton::before {
    content: ""; }
.imageGalleryFullscreenButton.active::before {
    content: ""; }
.imageGalleryFullscreenButton.active:hover::before {
    transform: scale(0.9); }

.imageGalleryPlayButton {
    left: 0; }
.imageGalleryPlayButton::before {
    content: ""; }
.imageGalleryPlayButton.active::before {
    content: ""; }

.imageGalleryLeftNav,
.imageGalleryRightNav {
    color: #fff;
    font-size: 5em;
    padding: 50px 15px;
    top: 50%;
    transform: translateY(-50%); }
.imageGalleryLeftNav[disabled],
.imageGalleryRightNav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
@media (max-width: 768px) {
    .imageGalleryLeftNav,
    .imageGalleryRightNav {
        font-size: 3.4em;
        padding: 20px 15px; } }
@media (max-width: 480px) {
    .imageGalleryLeftNav,
    .imageGalleryRightNav {
        font-size: 2.4em;
        padding: 0 15px; } }

.imageGalleryLeftNav {
    left: 0; }
.imageGalleryLeftNav::before {
    content: ""; }

.imageGalleryRightNav {
    right: 0; }
.imageGalleryRightNav::before {
    content: ""; }

.imageGallerySlides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap; }

.imageGallerySlide {
    background: #fff;
    left: 0;
    position: absolute;
    top: 0;
    /*height: 700px;*/
    width: 100%; }
.imageGallerySlide.center {
    position: relative; }
.imageGallerySlide img {
    width: 100%; }
.imageGallerySlide .imageGalleryDescription {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
@media (max-width: 768px) {
    .imageGallerySlide .imageGalleryDescription {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.imageGalleryBullets {
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 80%;
    z-index: 4; }
.imageGalleryBullets .imageGalleryBulletsContainer {
    margin: 0;
    padding: 0;
    text-align: center; }
.imageGalleryBullets .imageGalleryBullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
@media (max-width: 768px) {
    .imageGalleryBullets .imageGalleryBullet {
        margin: 0 3px;
        padding: 3px; } }
@media (max-width: 480px) {
    .imageGalleryBullets .imageGalleryBullet {
        padding: 2.7px; } }
.imageGalleryBullets .imageGalleryBullet.active {
    background: #fff; }

.imageGalleryThumbnailsWrapper {
    position: relative; }
.imageGalleryThumbnailsWrapper.thumbnailsWrapperRtl {
    direction: rtl; }
.imageGalleryThumbnailsWrapper.left, .imageGalleryThumbnailsWrapper.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; }
@media (max-width: 768px) {
    .imageGalleryThumbnailsWrapper.left, .imageGalleryThumbnailsWrapper.right {
        width: 81px; } }
.imageGalleryThumbnailsWrapper.left .imageGalleryThumbnails, .imageGalleryThumbnailsWrapper.right .imageGalleryThumbnails {
    height: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0; }
.imageGalleryThumbnailsWrapper.left .imageGalleryThumbnails .imageGalleryThumbnail, .imageGalleryThumbnailsWrapper.right .imageGalleryThumbnails .imageGalleryThumbnail {
    display: block;
    margin-right: 0;
    padding: 0; }
.imageGalleryThumbnailsWrapper.left .imageGalleryThumbnails .imageGalleryThumbnail + .imageGalleryThumbnail, .imageGalleryThumbnailsWrapper.right .imageGalleryThumbnails .imageGalleryThumbnail + .imageGalleryThumbnail {
    margin-left: 0; }
.imageGalleryThumbnailsWrapper.left {
    margin-right: 5px; }
@media (max-width: 768px) {
    .imageGalleryThumbnailsWrapper.left {
        margin-right: 3px; } }
.imageGalleryThumbnailsWrapper.right {
    margin-left: 5px; }
@media (max-width: 768px) {
    .imageGalleryThumbnailsWrapper.right {
        margin-left: 3px; } }

.imageGalleryThumbnails {
    overflow: hidden;
    padding: 5px 0; }
@media (max-width: 768px) {
    .imageGalleryThumbnails {
        padding: 3px 0; } }
.imageGalleryThumbnails .imageGalleryThumbnailsContainer {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.imageGalleryThumbnail {
    display: inline-block;
    /*border: 4px solid transparent;*/
    border-bottom: 4px solid transparent;
    transition: border .3s ease-out;
    width: 100px; }
@media (max-width: 768px) {
    .imageGalleryThumbnail {
        border: 3px solid transparent;
        width: 75px; } }
.imageGalleryThumbnail + .imageGalleryThumbnail {
    margin-left: 2px; }
.imageGalleryThumbnail .imageGalleryThumbnailInner {
    position: relative; }
.imageGalleryThumbnail img {
    vertical-align: middle;
    width: 100%; }
.imageGalleryThumbnail.active {
    /*border: 4px solid #337ab7; }*/
    border-bottom: 4px solid #ff0000; }
@media (max-width: 768px) {
    .imageGalleryThumbnail.active {
        /*border: 3px solid #337ab7; } }*/
        border-bottom: 3px solid #ff0000; } }

.imageGalleryThumbnailLabel {
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    left: 0;
    line-height: 1em;
    padding: 5%;
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px 0 black;
    transform: translateY(-50%);
    white-space: normal;
    width: 100%; }
@media (max-width: 768px) {
    .imageGalleryThumbnailLabel {
        font-size: .8em;
        line-height: .8em; } }

.imageGalleryIndex {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4; }
@media (max-width: 768px) {
    .imageGalleryIndex {
        font-size: .8em;
        padding: 5px 10px; } }
